@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
.body{
  background-color:#272b33;
  background-size: contain;
  background-position: center top;
  display: flex ;
  flex-direction: column;
}

.fondo{
  height:100px;
  width:800px;
  text-align:center;
}

.search{
  flex-direction:column;
  margin:15px auto; 
  height: 50px;
}


.button{
  background: rgb(174, 174, 174); /* color de fondo */
  color: #1f99b6; /* color de fuente */
  border: 2px solid #9fffa1; /* tamaño y color de borde */
  padding: 8px 10px;
  border-radius: 10px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin:5px;
  font-weight: bold;
}

.button:hover {
  color: #1f99b6;
  font-size: 1em;
  font-family: 'Anton', sans-serif;
}
.button::after {
  content: "";
  background: #b5ff73; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.button:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.input{
  background: #9fffa1;
  border: solid #272e2a;
  border-radius: 10%; 
  height: 30px;
  width: 200px;
  font-family: 'Comfortaa', cursive;
}
.input:hover{
  background:#33eda0; /* color de fondo hover */
  height: 30px;
  width: 200px;
  border: solid;
  border-radius: 10%;
  border-color: #a7c0ff;
  font-size: medium;
  font-family:'Comfortaa', cursive;
}

.search{
  align-items: center;
}

.conteinerAllCards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}



.backToHome{
  color: #000000; /* color de fuente */
  border: 2px solid #000000;
  background-color: #aeaeae;
  width: 150px;
  display: flex;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  justify-content: center;  
  background-position: left;
  background-size: 200% 100%;
  font-weight: bold;
  font-size: large;
  margin: 10px 0px 0px 50px;
  background-image: linear-gradient(500deg, #153d12 5%, #88ff00 64%);
}

.backToHome:hover{
width: 155px;
border: 3px solid #77fe7a;
color:#33eda0;
}