@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Titan+One&display=swap');

.container{
  padding-bottom:15em;
  width: 100%;
  max-width: 1200px;
  height:430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.card{
  background-color: #3c3e44;
  border-radius: 8px;
  border:solid #202124;
  width: 330px;
  height: 630px;
  box-shadow: 0 2px 2px rgba(0, 0,0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
}

.card:hover{
  border-radius: 12px;
  border:solid #00ff73;
  background-color: #2599597d;
}

.card h1{
  color: #f5f5f5;
  font-family: 'Comfortaa', cursive;
  font-family: 'Titan One', cursive;
  text-shadow:  0.2em 0.2em#202124;
  border-color: #202124;
}

.containerButtonDelete{
  display: flex;
}

.buttonDelete{
  height: 20px;
  margin: 5px;
  border-radius: 10px;
  background-color: black;
  color: aliceblue;
  border: solid aliceblue 1px;
}

.buttonDelete:hover{
  background-color: red;
}

.div_info{
  height: 40px;
  width: 250px;
  display: flex;
}

.div_img{
  width: 300px;
  color:rgb(255, 255, 255);
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.imgAlive{
  margin-right: 1em;
  width: 20px;
  height: 20px;
}

.imgDead{
  margin-right: 1em;
  width: 20px;
  height: 20px;
}

.imgUnknown{
  margin-right: 1em;
  width: 20px;
  height: 20px;
}

.parrafoAlive{
  font-size: 15px;
  color:rgb(35, 255, 35);
}

.parrafoDead{
  font-size: 15px;
  color:rgb(255, 0, 0);
}

.parrafoUnknown{
  font-size: 15px;
  color:yellow;
}