@font-face {
  font-family:Get Schwifty;
  src: url("../../../../get_schwifty.ttf")format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
  text-decoration: none;
}

.conteiner{
  margin: auto;
  width: 100%;
  /* height: 800px; */
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 130px;
}


.menu{ 
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.menu li{
  display: flex;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 25px;  
  font-family: 'Anton', sans-serif;
  cursor: pointer;
  margin: 20px;
}

.title{
  margin: 20px;
  background-color: rgb(255, 255, 255);
  background: radial-gradient(#ebfbeb, #6df25b, #cafcc4);
  font-family:'Get Schwifty', sans-serif; 
  font-size: 3.5em;

  -webkit-text-fill-color:
  transparent;
  -webkit-background-clip: text;
  background-clip: 0;
}

.cardsP{
  color: #e8eaed95;
  font-family: 'Anton', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 1,5;
}

.api{
  color: #e8eaed95;
  font-family: 'Anton', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.cardsP:hover{
  color: #98efa4;
  text-decoration: underline 3px #98efa4;
}

.api:hover{
  color: #98efa4;
  text-decoration: underline 3px #98efa4;
}


.section{
  display: flex;
  width: 600px;
  height: 430px;
}

.section img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .6;
  transition: .5s ease;
  border-radius: 10px;
}

.section img:hover{
  cursor:crosshair;
  width: 300px;
  opacity: 1.4;
  filter:contrast(120%)
}
.containerContacto, h3{
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
}

.aboutme{
  border: 2px solid gainsboro;
  cursor:pointer;
  border-radius: 6px;
  background-color: transparent;
  color: white;
  opacity: 0.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:15px;
  text-transform: uppercase;
}

.aboutme:hover{
  background-color: rgba(255, 217, 0, 0.477);
  border: solid 2px rgba(172, 255, 47, 0.709);
  opacity: 1.0;
}


.containerSectionAndText{
  width: 95%;
  margin: 30px;
  display: inline-flex;
}

.containerSection{
margin: 0 auto;
width: 600px;
height: 430px;
}

 .containerDescriptions{
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.647);
  width: 350px;
  color: white;
  border-radius: 10px;
} 

.reactProyect{
  background-color: rgba(0, 0, 0, 0.434);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reactProyect {
  color: white;
  opacity: 0.7;
  font-family: monospace;
  font-size: 1.5em;
  padding: 10px;
  text-transform: SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.textReact{
  width: 200px;
  font-family: monospace;
  font-size: 1em;
  text-transform: SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.react{
  width: 30px;
  height: 30px;
}