@font-face {
  font-family:Get Schwifty;
  src: url("../../../../get_schwifty.ttf")format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
  text-decoration: none;
}

.conteiner{
  justify-content:center;
  margin: auto;
  width: 100%;
  height: 805px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}


.menu{ 
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.menu li{
  display: flex;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 25px;  
  font-family: 'Anton', sans-serif;
  cursor: pointer;
  margin: 20px;
}

.title{
  margin: 20px;
  background-color: rgb(255, 255, 255);
  background: radial-gradient(#ebfbeb, #6df25b, #cafcc4);
  font-family:'Get Schwifty', sans-serif; 
  font-size: 3.5em;

  -webkit-text-fill-color:
  transparent;
  -webkit-background-clip: text;
  background-clip: 0;
}

.cardsP{
  color: #e8eaed95;
  font-family: 'Anton', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 1,5;
}

.api{
  color: #e8eaed95;
  font-family: 'Anton', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.cardsP:hover{
  color: #98efa4;
  text-decoration: underline 3px #98efa4;
}

.api:hover{
  color: #98efa4;
  text-decoration: underline 3px #98efa4;
}

.containerSection{
margin: 0 auto;
width: 600px;
height: 430px;
}

.section{
    display: flex;
    width: 600px;
    height: 430px;
}

.section img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .3;
  transition: .5s ease;
}

.section img:hover{
  cursor:crosshair;
  width: 300px;
  opacity: 1;
  filter:contrast(120%)
}
.containerContacto{
  justify-content: center;
  align-items: flex-end;
  display: flex;
  width: 10%;
  height: 90px;
}

.linkedin{
  width: 55px;
  height: 55px;
  margin-right: 20px;
}

.github{
  width: 55px;
  height: 55px;
  margin-right: 20px;
}

.instagram{
  width:55px;
  height: 55px;
  margin-right: 20px;
}

.linkedin:hover{
  width: 60px;
  height: 60px;
}
.github:hover{
  width: 60px;
  height: 60px;
}
.instagram:hover{
  width: 60px;
  height: 60px;
}